{% extends 'base.html' %}

{% block content %}
{% load cart_item_total %}
 
{% include 'navigation.html' %}
        
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Checkout</h1>
            <p class="lead fw-normal text-white-50 mb-0">review your order</p>
        </div>
    </div>
</header>

<!-- Section-->
<section class="py-5">
    <div class="container mt-4 col-md-7">
        <div class="card">
            <div class="card-header">
                Order summary
            </div>
            <div class="card-body">
                {% for product in products %}
                
                    {{ product.name }}:

                    {% if product.is_sale %}
                        ${{ product.sale_price }}
                    {% else %}
                        ${{ product.price }}    
                    {% endif %}

                    <br>
                    <small>
                    Quantity:
                    {% for key, item in cart.cart.items %}
                                    
                        {% if key == product.id|slugify %}
                            {{item.quantity}}
                        {% endif %}
                                        
                                    
                    {% endfor %}
                    </small>
                    <br><br>
                {% endfor %}

                <strong>Total price: ${{cart_total}}</strong><br>
                <a href="{% url 'view_cart' %}" class="btn btn-sm btn-secondary">Update order</a>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}

{% endblock %}