{% extends 'base.html' %}

{% block content %}

{% include 'navigation.html' %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Login</h1>
            <p class="lead fw-normal text-white-50 mb-0">login to Ecomm</p>
        </div>
    </div>
</header>

<div class="container mt-4">
    <form method="post" action="" class="p-4 m-5 bg-light rounded shadow text-center">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-success col-2">Login</button>
        <p>if you don't have an account <a href="{% url 'signup' %}">signup here!</a></p>
    </form>
</div>


{% include 'footer.html' %}

{% endblock %}
    