{% extends 'base.html' %}

{% block content %}

{% include 'navigation.html' %}

<div class="container mt-5 mb-5">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="..." style="height: 355px;">
            </div>
            <div class="col-md-8">
                <div class="card-body text-center">
                    <h2 class="card-title">{{product.name}}</h2><br>
                    <p class="card-text">{{product.description}}</p>

                    
                    {% if product.is_sale %}
                    
                    <div class="d-flex small text-warning mb-2">
                        <div class="bi-star-fill"></div>
                        &nbsp; SALE &nbsp;
                        <div class="bi-star-fill"></div>
                    </div>

                    <span class="text-muted text-decoration-line-through">${{product.price}}</span>
                    - ${{product.sale_price}} 
                        
                    {% else %}
                        
                    <p class="card-text">${{product.price}}</p>

                    {% endif %}

                    <br>
                    <form method="POST" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <label>Quantity:</label>
                        <input type="number" name="quantity" value="1" min="1" placeholder="Quantity: ">
                        <br><br>
                        <a href="{% url 'home' %}" class="btn btn-secondary text-center">Go back</a>
                        &nbsp;
                        <button type="submit" class="btn btn-secondary">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>


{% include 'footer.html' %}

{% endblock %}
    